.addPostPic{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;

}

.addPost{
    width: 97%;
    border-radius: 10px;
    height: 150px;
    margin-top: 10px;
    margin-left: 10px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24);
}

.addPostContainer{
    padding: 15px;
}

.addPostTop{
    display: flex;
    align-items: center;
}

.addPostInput{
    border: none;
    width: 80%;
    margin-left: 10px;
}

.addPostInput:focus{
    outline: none;
}

.postHr{
    margin: 20px;
}

.addPostBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addPostOptions{
    display: flex;
    margin-left: 80px;
    
}

.addPostOption{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
    cursor: pointer;
}

.PostButton{
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 70px;
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: #1877F2;
    color: white;
    cursor: pointer;
}
.addPhotoOptionText{
    margin-left: 5px;
}